.panel-default > .panel-heading {
    background-color: #ffffff;
    border-color: #DDDDDD;
    color: #333333;
}

.panel {
    box-shadow: none;
}

.panel-default {
    border-color: #fff;
}

.panel-default > .panel-heading:hover {
    background-color: #F9F9F9;
}

.panel-heading a{
    color: #333333;
}

.panel-group .panel {
    margin-bottom: -5px;
    border-radius: 0px;    
}

.panel-collapse{
	background-color: #f4f4f4;
}

.list-group h5{
	font-size: 100%;
	font-weight: bold;
}

.list-group {
    padding-left: 20px;
}